@import './component/Color';
@import './component/Base';
@import './component/Blockquote';
@import './component/Button';
@import './component/IconButton';
@import './component/Code';
@import './component/Divider';
@import './component/Form';
@import './component/Grid';
@import './component/Link';
@import './component/List';
@import './component/Spacing';
@import './component/Table';
@import './component/Typography';
@import './component/Image';
@import './component/Utility';
@import './lineAwesome/main';
@import './component/animation';
@import './component/navbar';
@import './component/sidebar';


/* main stylesheet*/
.wrapper{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;  
    .main{
        margin-left: 250.1px;  /* jika sidebar ada */
        width: auto;                      
        .konten{
            margin-top: 56px; 
            height: 3000px;           
        }   
    } 
}