server/node_modules
server/vendor
server/storage/cache
server/composer.lock
server/package-lock.json
siswa/desktop/.vscode
siswa/desktop/Library
siswa/desktop/Logs
siswa/desktop/Temp
siswa/desktop/UserSettings
siswa/mobile/.vscode
siswa/mobile/Library
siswa/mobile/Logs
siswa/mobile/Temp
siswa/mobile/UserSettings