server/node_modules
server/vendor
server/storage/cache
server/composer.lock
server/package-lock.json
siswa/Desktop/.vscode
siswa/Desktop/Library
siswa/Desktop/Logs
siswa/Desktop/Temp
siswa/Desktop/UserSettings