/* input */
input[type=text]{
    outline: none; 
    border: 1px solid rgba(0, 0, 0, 0.125);
    background-color: #f3f3f3;
    height: 41px;
}
input[type=text]:focus {
    border: 1px solid $primary-color;
}
input[type=number]{
  outline: none; 
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #f3f3f3;
  height: 41px;
}
input[type=number]:focus {
  border: 1px solid $primary-color;
}
.input-password:focus-within{
    border: 1px solid $primary-color;
}
.input-password{
    border: 1px solid rgba(0, 0, 0, 0.125);
    display: flex;
    background-color: #f3f3f3;
    input[type=text],input[type=password] {
        width: calc(100% - 40px);
        background: transparent;
        border: none; 
        outline: none;
        height: 41px;
    }
    .view-password{        
        width: 40px;
        cursor: pointer;
        align-items: center;
        display: flex;
        justify-content: center;    
        cursor: pointer;
        i {
            font-size: 18px !important;
        }
    }
}
.input-search{
  border: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  background-color: #f3f3f3;
  input[type=text]{
    width: calc(100% - 40px);    
    background: transparent;
    border: none; 
    outline: none;
  }
  .reset{        
    width: 40px;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;    
    cursor: pointer;
    i {
        font-size: 18px !important;
        color:gray;
    }
  }
}
/* select */
select{
  outline: none; 
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #f3f3f3;  
}
select:focus{
  border: 1px solid $primary-color;
}
/* checkbox */
input[type=checkbox] {
    visibility: hidden;
}
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 30px;    
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #f3f3f3;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .checkmark {
    background-color: $primary-color;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {    
    left: 7px;
    top: 3px;
    width: 4px;
    height: 9px;
    border: solid white;   
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* dropdown */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    .disable{
      color: $disable-secondaryColor !important;          
      cursor: default !important;
      i {
        color: $disable-secondaryColor !important; 
        font-size: 14px;
      }
    }
  }
  
  .dropdown-content div {    
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  .dropdown-content div:hover {background-color: #ddd;}
  .dropdown:hover .dropdown-content {display: block;}  
  .dropdown:hover button {
    background-color: $primary-color;    
    i {
      color:white !important;
    }
  }
  /* switcher */
  .switcher {
    height: 41px;
    .switch-disable{
      background: $disable-primaryColor !important;
      label[for=yes] {
        color: $disable-secondaryColor !important;
      }
      label[for="no"] {
        color: $disable-secondaryColor  !important;
      }
      span{
        background: $disable-secondaryColor  !important;
      }
      span:after {
        background: $disable-secondaryColor  !important;
      }
    }
    .switch {
      position: absolute;
      width: 100%;
      height: 41px;
      text-align: center;      
      background: $primary-color;
      transition: all 0.2s ease;
      border-radius: 5px;
    }
    .switch span {
      position: absolute;
      width: 20px;
      height: 4px;
      top: 50%;
      left: 50%;
      margin: -2px 0px 0px -4px;
      background: #fff;
      display: block;
      transform: rotate(-45deg);
      transition: all 0.2s ease;
    }
    .switch span:after {
      content: "";
      display: block;
      position: absolute;
      width: 4px;
      height: 12px;
      margin-top: -8px;
      background: #fff;
      transition: all 0.2s ease;
    }
    input[type=radio] {
      display: none;
    }
    .switch label {
      cursor: pointer;
      color: rgba(0,0,0,0.2);
      width: 60px;
      line-height: 40px;
      transition: all 0.2s ease;
    }
    label[for=yes] {
      position: absolute;
      left: 0px;
      height: 20px;
      color: #fb6969;
    }
    label[for=no] {
      position: absolute;
      right: 0px;
    }
    #no:checked ~ .switch {
      background: #f00;
    }
    #no:checked ~ .switch span {
      background: #fff;
      margin-left: -8px;
    }
    #no:checked ~ .switch span:after {
      background: #fff;
      height: 20px;
      margin-top: -8px;
      margin-left: 8px;
    }
    #yes:checked ~ .switch label[for=yes] {
      color: #fff;
    }
    #no:checked ~ .switch label[for=no] {
      color: #fff;
    }  
  }    
/* delete form */
.deleteFotoButton {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.125);
  height: 20px;
  width: 20px;
  border-radius: 10px;
  color: white;
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wysiwyg-editor{
  border: 1px solid rgb(241, 241, 241);
  background-color: #f3f3f3;
  height: 130px !important;
  padding: 5px !important;    
  scrollbar-width: thin;  
}

.wysiwyg-editor-small{
  border: 1px solid rgb(241, 241, 241);
  background-color: #f3f3f3;  
  padding: 2px !important;   
  scrollbar-width: thin;  
  height: 60px !important;
}

.wysiwyg-editor-essay{
  border: 1px solid rgb(241, 241, 241);
  background-color: #f3f3f3;
  height: 230px !important;
  padding: 5px !important;    
  scrollbar-width: thin;  
}

.rdw-editor-toolbar {
  margin-bottom: 0 !important;
}

.deleteFotoJawaban{
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.125);
  height: 25px;
  padding: 5px;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
}

.deleteFotoPertanyaan{
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.125);
  height: 25px;
  padding: 5px;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
}
//switch toggle mini
.switchToggle {
  position: relative;
  display: inline-block;
  width: 53px;
  height: 23px;
}

.switchToggle input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  top: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $primary-color;
}

input:focus + .slider {
  box-shadow: 0 0 1px $primary-color;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 23px;
}

.slider.round:before {
  border-radius: 50%;
}

.rw-widget-picker{
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0;
  background-color: #f3f3f3;
  box-shadow:none;
}

.rw-widget-picker:focus {
  border: 1px solid $primary-color;
}

.rw-dropdown-list-value{
  padding-top: 3px;
}

.rw-popup {
  border-radius: 0;
}