/* input */
input[type=text]{
    outline: none; 
    border: 1px solid rgba(0, 0, 0, 0.125);
    background-color: #f3f3f3;
}
input[type=text]:focus {
    border: 1px solid $primary-color;
}
.input-password:focus-within{
    border: 1px solid $primary-color;
}
.input-password{
    border: 1px solid rgba(0, 0, 0, 0.125);
    display: flex;
    background-color: #f3f3f3;
    input[type=text],input[type=password] {
        width: 88%;
        background: transparent;
        border: none; 
        outline: none;
    }
    .view-password{        
        width: 12%;
        cursor: pointer;
        align-items: center;
        display: flex;
        justify-content: center;    
        cursor: pointer;
        i {
            font-size: 18px !important;
        }
    }
}