.paket-container{
    height: 500px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-top: none;
    overflow-y: auto;
    scrollbar-width: thin;
    display: flex;
    flex-direction: column;
}
.tabs {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.tab-list {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding-left: 0;
    margin: auto;
    height: 48px;
}
.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  height: 47px;
  cursor: pointer;
}
.tab-list-active {
  background-color: #ddd;
  border-width: 1px 1px 0 1px;
}
.tab-content{
  display: flex;
  height: 500px;
  align-items: center;
  flex-direction: column;  
  .body-content{
    height:385px;
    overflow-y:auto;
    scrollbar-width: thin;
  }
}