.profile{
    width: 25%;
    border:1px solid rgba(0, 0, 0, 0.125);
    .profile-foto{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        border:3px dashed rgba(0, 0, 0, 0.125);
        img{
            width: 100%;            
        }        
    }
    .profile-button{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }    
}
 
.profile-analisis{
    width: 75%;
    border: 1px solid rgba(0, 0, 0, 0.125);
}