li.berandaItem{
    background-color: $primary-color;
    height: 24px;
    a.berandaLink { 
        color: white !important;       
        display: flex;
        div.material-icons-outlined{
            padding-left: 5px;
        }        
        span.berandaText {
            padding-right: 8px;  
            padding-left: 3px;         
        }
    }
}
li.breadcrumb-item{
    a {
        text-decoration: none;
        color:$primary-color;
    }
}