$font-stack: "Titillium Web", sans-serif;
$font-color: #333;
$backgroundColor: #f3f3f3;
$primary-color: #0191d7;
$secondary-color : #085074;
$disable-primaryColor : #8c8c8c;
$disable-secondaryColor : #b3b3b3;

@import "./tachyons/tachyons";
@import "node_modules/react-toastify/scss/main.scss";
@import "./base/wysiwyg";
@import "./base/paket";
@import "./base/webIcons";
@import "./base/fonts";
@import "./base/sidebar";
@import "./base/loading";
@import "./base/dialog";
@import "./base/modal";
@import "./base/button";
@import "./base/table";
@import "./base/form";
@import "./base/heading";
@import "./base/menuCards";
@import "./base/login";
@import "./base/profile";

body {        
    background-color: $backgroundColor;
    color: $font-color;
    font-family: $font-stack;
    font-style: normal;
    font-weight: 300;   
    font-size: 15px; 
}
/* calendar */
.react-datepicker__day--selected,.react-datepicker__day--in-selecting-range,.react-datepicker__day--in-range{
    background-color: $primary-color !important;
}
/* mini only chrome*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); 
}
/* coba */
.mathWidth math-field{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; 
    background-color: #f3f3f3;
}
/* 404 page */
.page-wrap {
    min-height: 100vh;
}
/* react ColorPicker */
.chrome-picker{
    width: 100% !important;    
}
/* main stylesheet*/
.wrapper{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;  
    .main{
        margin-left: 250.1px;  /* jika sidebar ada */
        width: auto;                      
    } 
}