$font-stack: "Titillium Web", sans-serif;
$font-color: #333;
$backgroundColor: #f3f3f3;
$primary-color: #0191d7;
$secondary-color : #085074;
$disable-primaryColor : #8c8c8c;
$disable-secondaryColor : #b3b3b3;

$fa-font-path:"../fonts/" !default;

@import "./tachyons/tachyons";
@import "./fontawesome/fontawesome";
@import "./fontawesome/regular";
@import "./fontawesome/solid";

@import "node_modules/react-image-crop/src/ReactCrop.scss";
@import "node_modules/react-toastify/scss/main.scss";
@import "./base/sidebar";
@import "./base/loading";
@import "./base/dialog";
@import "./base/modal";
@import "./base/button";
@import "./base/table";
@import "./base/form";
@import "./base/heading";
@import "./base/menuCards";
@import "./base/login";
@import "./base/profile";

body {        
    background-color: $backgroundColor;
    color: $font-color;
    font-family: $font-stack;
    font-style: normal;
    font-weight: 300;   
    font-size: 15px; 
}
/* calendar */
.react-datepicker__day--selected,.react-datepicker__day--in-selecting-range,.react-datepicker__day--in-range{
    background-color: $primary-color !important;
}
/* 404 page */
.page-wrap {
    min-height: 100vh;
}
/* react ColorPicker */
.chrome-picker{
    width: 100% !important;    
}
/* main stylesheet*/
.wrapper{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;  
    .main{
        margin-left: 250.1px;  /* jika sidebar ada */
        width: auto;                      
        .konten{
            background-image: url(../images/sample.png);
            background-repeat: no-repeat;
            background-size:450px 200px;
            background-position: right 0px top 0px;                        
            height: auto;           
        }   
    } 
}
